[2017-12-05 08:00] ivarconr opened #1 "Multiple .Net clients exists already"
I was just made aware of that it exists yet another .Net implementation of the `unleash-client`.  It would be nice if we could merge the best from both in to an official .Net client for Unleash.

The clients:
- https://github.com/stiano/unleash-client-dotnet
- https://github.com/onybo/unleash-client-core

What do you say @onybo and @stiano, are you willing to collaborate on this? My .Net knowledge

[2017-12-05 11:03] stiano commented on #1
Sure, it would be good to consolidate our efforts into a single official client.

[2017-12-05 15:16] onybo commented on #1
I agree.
I just now quickly scanned some of Stians code,  and I note that we would
have to agree on a common code style. I try to follow the code standard
used for the dotnet core project, and this would be my preference.

https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/coding-style.md

Best regards,
Olav Nybø

On Tue, Dec 5, 2017 at 12:03 PM, Stian Olafsen <notificati

[2017-12-07 11:18] onybo commented on #1
Relying on proprietary tools to provide readability is in my opinion not a good idea. Many developers prefers to not use Visual studio nor R#. Myself included.
Browsing code on github provides no special coloring of members.
And without really having done the work to back it by solid numbers, to me it seems that the coding guidelines used by the .Net core team and the MVC team, prefixing included,

[2017-12-07 12:24] stiano commented on #1
An editorconfig file is just fine.

[2019-10-02 13:36] #1 closed

[2019-10-02 16:48] silviogreuel opened #3 "CI Build is breaking on master"
Just make build pass

[2019-10-02 16:57] silviogreuel opened #4 "CI Is not deploying to an official nuget repository"
Create an official repository on https://nuget.org then upload unleash-client-core on unleash domain

[2019-10-02 17:04] silviogreuel opened #5 "CI Use merge counts to master as minor changes"
Instead on depending on CI build number (that should be CI build number) use merge counts on master as minor changes

[2019-10-02 17:20] ivarconr opened #7 "Switch to Murmur hash algorithm"
We have chosen to standardise the hashing algorithm on the Murmur algorithm, to ensure a predictable behaviour across client implementations. See see Unleash/unleash#247 for details.

Also a requirement for #11

[2019-10-02 17:21] ivarconr opened #8 "API url not compliant"
It would be preferable to have this client accepting http://unleash.herokuapp.com/api/ as URL for Unleash to align with other Unleash clients.

[2019-10-02 17:22] ivarconr opened #9 "Add support for static context fields."
In order to prepare the SDKS for [strategy constraints](https://github.com/Unleash/unleash/issues/442) we need to introduce two new fields in the [Unleash Context](https://unleash.github.io/docs/unleash_context)

- `environment` (default value is "default")
- `appName` (already a required config parameter)

Both these static context fields should be configured at initialisation of the unleash SDK

[2019-10-02 17:23] ivarconr opened #10 "Default strategies not available when supplying custom strategies"
I would have expected the custom strategies to be added to the default ones. Unfortunately the default ones are skipped.

If this is a deliberate design decision, please consider exposing a public property to access the default strategies, so one can choose to pass these in as part of the custom strategies.

[2019-10-02 17:24] ivarconr opened #11 "Implement client-specification tests"
There exists a test suite which validates correct SDK behaviour. Would be nice if the .net client also could implement these integration tests.

https://github.com/Unleash/client-specification

[2019-10-02 18:46] #3 closed

[2019-10-02 19:40] #4 closed

[2019-10-03 13:39] wesleimp opened #13 "feat: add support static context fields"
In order to prepare the SDKS for [strategy constraints](https://github.com/Unleash/unleash/issues/442) we need to introduce two new fields in the [Unleash Context](https://unleash.github.io/docs/unleash_context)

- `environment` (default value is "default")
- `appName` (already a required config parameter)

Both these static context fields should be configured at initialisation of the unleash SDK

[2019-10-03 16:47] ivarconr opened #14 "Update readme"
- should state that it is not a official client
- should link to correct nuget package.

[2019-10-04 01:15] silviogreuel commented on #13
Closing, dupicate of https://github.com/Unleash/unleash-client-core/issues/9

[2019-10-04 01:15] #13 closed

[2019-10-04 01:18] silviogreuel opened #16 "Organize project folder layout to support both .NET Framework and .NET Core"
Keeping some standards by organizing to a popular folder structure

Guidelines on:
- https://github.com/dotnet/docs/blob/master/docs/core/porting/project-structure.md
- https://gist.github.com/davidfowl/ed7564297c61fe9ab814

[2019-10-04 12:00] wesleimp commented on #14
Done in #15

[2019-10-04 12:00] #14 closed

[2019-10-04 12:37] nvonbenken commented on #16
On it

[2019-10-04 21:44] silviogreuel opened #18 "Add CONTRIBUTING.md guide"
Should give contributors a set of guidelines for contributing to this project

[2019-10-04 21:56] silviogreuel opened #19 "Add Code of Conduct"
Create a document that establishes expectations for behavior for your project’s participants. Adopting, and enforcing, a code of conduct can help create a positive social atmosphere for your community. Transparency should be primordial.

[2019-10-04 21:58] silviogreuel opened #20 "Add Issue Templates"
Bugs, Feature Requests

[2019-10-04 22:00] silviogreuel opened #21 "Add Pull Request Template"

[2019-10-04 22:35] silviogreuel opened #22 "Change base import to be more conformant with the project name"
Will break changes, should be done as a last step for 2.0.0

[2019-10-04 22:38] silviogreuel opened #23 "Remove all code marked as obsolete"
Will break changes, should be done as a last step for 2.0.0

[2019-10-05 00:55] silviogreuel opened #24 "Show in CI passing and failing tests"

[2019-10-09 13:07] scottt732 opened #25 "DI scoping issue when not using statics"
I'm having trouble hooking Unleash up in `IServiceCollection`.  We're trying to use the DI `IDisposable BeginScope()` to store an `IUnleashContextProvider` backed by a `Dictionary<string, string>` as opposed to relying on `HttpContext.Current.Items` as in the README.  The reason is b/c we use the scope pattern outside of ASP.NET Core and would like to be able to use the same Unleash boilerplate co

[2019-10-09 13:12] scottt732 opened #26 "Consider using HttpClientFactory"
If you took a dependency on Netstandard2.0 (drop support for .NET Framework <= 4.7.1 I think), you could use the official `HttpClientFactory`, allowing your library/end-users to handle DNS changes gracefully, pool TCP connections, and to configure retry policies.

- https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implemen

[2019-10-09 13:14] scottt732 opened #27 "Consider replacing LibLog with Microsoft.Extensions.Logging.Abstractions"
Consider replacing the LibLog dependency with Microsoft's logging abstractions.  This would allow library consumers to plug this client in to their application and have the library inherit the application-configured logging providers.

This would require dropping framework support < netstandard2.0 but it's still adaptable in a framework-era ASP.NET code.

[2019-10-09 15:58] #16 closed

[2019-10-09 16:05] silviogreuel commented on #27
For now, all changes that have a possibility to break the current compatibility will be revisited at the end of milestone https://github.com/Unleash/unleash-client-core/milestone/1

Keep in Touch

[2019-10-09 16:05] silviogreuel commented on #26
For now, all changes that have a possibility to break the current compatibility will be revisited at the end of milestone https://github.com/Unleash/unleash-client-core/milestone/1

Keep in Touch

[2019-10-09 16:13] silviogreuel commented on #25
This decoupling completely makes sense, maybe a third piece, responsible to store the cached features (currently storing as a .json for now)

[2019-10-09 16:45] scottt732 commented on #25
For sure.  I've been trying to wrap my head around what the implications are of having a .json cache on each node behind a load balancer as opposed to something like Redis.  Any thoughts there?  I haven't looked at what the other clients are doing.

Should I open another issue to track that?  I had one other about synchronously blocking on the first HTTP round-trip (so our app doesn't service any

[2019-10-09 19:00] silviogreuel opened #30 "Reload WebApp Project from sample folder"
Reload and make the sample project compile again

[2019-10-09 19:02] silviogreuel opened #31 "Reload WinForms project from sample folder"
Reload and make the sample project compile again

[2019-10-10 22:05] Excolo commented on #10
I'd like to work on this.
Do you have a preferred way to go about this? There are several different options as I see it. I was considering making this the default behavior, and then provide an overload with a bool to indicate that it should override the default strategies. Making this the default behavior, is a breaking change though.

[2019-10-11 15:41] Excolo commented on #10
I've created a PR with my take on this issue. The breaking changes might make this solution unacceptable, so if that's the case, please let me know.

[2019-10-11 16:46] silviogreuel commented on #10
I think that focusing on standards defined on unleash should have a higher priority. I'm still reading the docs and some existing code, all to understand what should be done... I'm quite busy on weekdays, and trying my best on weekends...

Maybe a branch 2.0.0 should be already going with breaking changes (like, lock in in .net-core, and some interface definitions)

[2019-10-11 17:09] Excolo commented on #10
That sounds perfectly reasonable. I'll have a look at the official client libraries and apply any behavior regarding default strategies accordingly.

[2019-10-14 20:57] flerka commented on #31
Hi @silviogreuel ! Is it still relevant? Can't reproduce this issue on master branch. WinForms sample project compiles without errors.

[2019-10-14 20:58] flerka commented on #30
Hi @silviogreuel ! Is it still relevant? Can't reproduce this issue on master branch. WebApp sample project compiles without errors.

[2019-10-15 22:51] #18 closed

[2019-10-15 23:04] #19 closed

[2019-10-15 23:36] #21 closed

[2019-10-15 23:45] #20 closed

[2019-10-15 23:52] silviogreuel commented on #31
Yep, just reload and check for missing folders/imports, and check for AppVeyor build `.\build.ps1 -Target "AppVeyor"`

[2019-10-15 23:52] silviogreuel commented on #30
Yep, just reload and check for missing folders/imports, and check for AppVeyor build `.\build.ps1 -Target "AppVeyor"`

[2019-10-16 00:42] silviogreuel opened #37 "Decouple estrategies from unleash client leveraging DI"
Decouple strategies from unleash client creation levaraging dependency injection.
A light a discussion on issue from https://github.com/Unleash/unleash-client-core/issues/25 could give some insights

[2019-10-16 00:47] silviogreuel commented on #37
Like something https://github.com/App-vNext/Polly#policyregistry maybe

[2019-10-16 00:51] silviogreuel commented on #25
@scottt732 issue https://github.com/Unleash/unleash-client-core/issues/37 created only about decoupling strategies

[2019-10-16 00:52] silviogreuel commented on #37
Constructor overloading could be, for now, a good idea to handle backward compatibility

[2019-10-16 00:57] #10 closed

[2019-10-16 02:53] silviogreuel commented on #24
Some example could be extracted from: https://github.com/fluentassertions/fluentassertions.analyzers/pull/51/files

[2019-10-16 19:20] flerka commented on #31
Sorry can't help, tried to reproduce it with build script you mentioned but there were no errors.

[2019-10-16 19:25] silviogreuel commented on #31
Let me close this then, thanks @flerka

[2019-10-16 19:25] #31 closed

[2019-10-16 19:34] scottt732 commented on #37
I don't think you're going to be able to handle #25 without having at least 1 breaking client change on the `DefaultUnleash` constructor.  `UnleashSettings` currently contains settings + services (including a context provider).  The `IUnleashServices` (with the exception of the `IUnleashContextProvider`) should be a disposable singleton (to stop timers & hopefully avoid ObjectDisposedExceptions at

[2019-10-17 16:30] silviogreuel commented on #37
To keep going, create a new project, focusing only with .net-core compatibility, and minding out the idea of compatibility until an first release (of the new project), could keep things going, that seems reasonable @scottt732?

This should allow a more fluid developing...

[2019-10-24 14:32] ivarconr opened #39 "feat: flexible rollout strategy"
See https://github.com/Unleash/unleash/issues/516 for details.

[2019-10-29 19:13] amj1985 opened #40 "Socket leak in HttpClientFactory"
**Description**

DefaultHttpClientFactory is opening a new socket for each request and its throwing a socket exception in high availability API

**Cause**

Check that DefaultHttpClientFactory is creating a new instance of httpclient for each request.

**Expected behavior**

HttpClient is intended to be instantiated once and re-used throughout the life of an application.
[](https://docs.microsoft.c

[2019-10-31 22:22] #40 closed

[2019-12-26 12:52] #8 closed

[2019-12-26 12:52] #7 closed

[2020-01-23 18:25] AndreasChristianson opened #46 "Allow custom http headers to be rotated during the life of the client"
**Is your feature request related to a problem? Please describe.**
We would like to use tokens to prevent unauthorized access to unleash server api endpoints, `/api/client/features` for example. We can add a custom http header in the settings when the client is started, but we have no way to rotate the token when it is refreshed.

**Describe the solution you'd like**
A solution we'd be interested

[2020-01-23 20:22] ivarconr commented on #46
The node client SDK already supports a customHeadersFunction (https://github.com/Unleash/unleash-client-node/blob/master/README.md#advanced-usage)

And there is a similar request for the Java client SDK: https://github.com/Unleash/unleash-client-java/issues/94

[2020-01-23 22:51] nmiddendorff commented on #46
If I spend the time to make a PR to enable this functionality for the .NET Core client, would the maintainers of unleash be open to releasing it?

[2020-01-24 07:39] gnab commented on #46
@nmiddendorff Hi, I am currently maintaining the .NET Core client. As @ivarconr mentions, this functionality exists for the Node client and is already requested for the Java client.

I'm already working on various other pieces of the .NET Core client and will do a new major (2.0.0) release in a little while. It would be great if we could get the functionality you are requesting included in the new

[2020-01-24 21:25] gnab commented on #22
@silviogreuel Can you please comment on exactly what this issue entails?

[2020-01-26 05:41] #9 closed

[2020-01-27 21:29] #39 closed

[2020-01-27 21:33] silviogreuel commented on #22
Just a namespace rename, no need to do so, closing.

[2020-01-27 21:33] #22 closed

[2020-01-29 09:09] mortenmj opened #50 "As a user, I would like to be able to fetch feature toggles synchronously during startup"
The Java client for Unleash (https://github.com/Unleash/unleash-client-java) has a flag in UnleashSettings called synchronousFetchOnInitialisation.
Currently, even though feature toggles can be fetched on startup (and are by default), it is not done synchronously.

Expected behavior is to have feature flags loaded immediately after instantiating DefaultUnleash. Observed behavior is that feature fl

[2020-01-29 15:04] sebreynier commented on #8
Hi, do you know when it will be possible to get this new version from nuget? Do you plan to create a beta tag? It would fix my issue to get toggles from GitLab.

[2020-01-29 16:06] silviogreuel commented on #8
I'll do some tests in production first, by friday or saturday should be released a new version. (actually this should be automated =X)

[2020-01-29 16:15] sebreynier commented on #8
It seems perfect 😄

Many thanks!

[2020-01-30 20:32] #11 closed

[2020-02-09 18:51] #46 closed

[2020-02-10 15:19] sebreynier commented on #8
Hey @silviogreuel, do you know when the version 2.0.0 will be released?

[2020-02-10 16:47] silviogreuel commented on #8
Released 1.3.6 @sebreynier

[2020-02-10 17:19] sebreynier commented on #8
Yeah thanks 👍

[2020-02-10 17:59] AndreasChristianson commented on #50
I love this feature. I'll dig into what accomplishing this will take later this week.

[2020-02-10 18:02] AndreasChristianson commented on #50
For those interested, this is a terribly kludgy workaround that might work for now:
[code]

[2020-02-20 17:25] #50 closed

[2020-02-21 22:08] andywgarcia opened #54 "Add override option for providing context when checking a feature toggle"
**Is your feature request related to a problem? Please describe.**
The programming pattern of using the global HttpContext is not a recommended pattern, nor is it natively supported by dotnet core.

A simple way to bypass this issue would be to pass in context with every request to check if a flag is enabled, but this is not available.

**Describe the solution you'd like**
Adding a simple override

[2020-02-23 19:47] gnab commented on #54
Great input, @andywgarcia . Please have a look at the referenced commit and confirm that it solves your issue.

[2020-02-24 17:11] andywgarcia commented on #54
@gnab Yup this solves my problem and exactly what I would have done in a fork. Thank you very much!

[2020-02-24 17:15] andywgarcia commented on #54
@gnab Looking a bit more at the documentation in the readme, I am sure that could use an update as well for the section about using the context provider

[2020-02-24 19:44] gnab commented on #54
@andywgarcia Indeed. The README needs to be revised, but we'll deal with that separately. The changes have been merged now and will be included in the next release.

[2020-02-24 19:44] #54 closed

[2020-02-24 19:53] andywgarcia commented on #54
Thanks for the quick turnaround. Is there an ETA on the next release?

[2020-02-24 20:43] andywgarcia commented on #54
@gnab Should there be an additional method as well with the default flag set to false so the option of `IsEnabled(string toggleName, UnleashContext context)` is available as well?

[2020-02-27 19:05] gnab commented on #54
This has now been released in the new Unleash.Client 1.4.0 NuGet package.

[2020-06-23 09:56] thomasheartman opened #58 "Client doesn't find features / can't connect to API if `UnleashAPI` doesn't end with `/`"
**Describe the bug**
When provided with a `settings.UnleashApi` value without a trailing slash, the client seems unable to connect to the API.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Web API and set up a singleton Unleash service. Use a URL to an Unleash API without the trailing `/`, i.e. `https://<unleash>/api`
2. Check whether a feature that is enabled in the Unleash API i

[2020-06-23 19:32] ivarconr commented on #58
I totally agree, and I am sorry that you wasted valuable time on this. We should try to get in a fix for this asap.

-Thanks for reporting!

[2020-06-23 21:46] gnab commented on #58
The fix has been included in the newly released patch version 1.4.1 which should be available from NuGet shortly.

[2020-06-23 21:46] #58 closed

[2020-06-24 07:28] thomasheartman commented on #58
That's great! Thanks for being so responsive!

[2020-09-24 13:35] sumantfordev opened #60 "Broadcast changes to clients"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-10-02 03:27] nickcox opened #61 "UnleashClientFactory and custom strategies"
Not sure if this is a feature request or just something I've missed in the API but I'm struggling to register a custom strategy when creating an instance of the client via `UnleashClientFactory`. Both of the `CreateClient...` methods seem to be hard-coded with `Array.Empty<IStrategy>()`.

My use case is that I would like to create the client synchronously with a custom strategy. Any suggestions on

[2020-10-02 08:28] ivarconr commented on #61
The standard way of initializing Unleash synchronously would simply be:

[code]

[2020-10-02 09:10] nickcox commented on #61
Oh, right. I was under the impression that would schedule a feature fetch to run asynchronously. If I attempt to use the client  immediately after...

[code]

... it doesn't seem to be aware of any features for a second or so. Whereas, if I use [`UnleashClientFactory.CreateClient(settings, true)`](https://github.com/Unleash/unleash-client-dotnet/blob/f2f6ce9046614647d06a44191146568b3aeaa63d/src/Un

[2020-10-02 09:50] ivarconr commented on #61
That's correct (I misunderstood your question), by default the client SDK will perform the fetching in the background, but not do any initial blocking for the first request.

But yes, you are correct the factory creates does not allow you to inject custom strategies. You should be able to write your own custom factory, but we will also add this to the factory methods, to facilitate it better.

[2020-10-02 10:20] nickcox commented on #61
Thanks, Ivar. I did have a crack at writing my own factory but it seemed that everything I would need to make it happen is `internal`. Any clues much appreciated. 😄

[2020-10-04 19:23] ivarconr commented on #61
fixed in 1.6.0

[2020-10-04 19:23] #61 closed

[2020-10-13 16:19] einarwh opened #63 "Timing bug in SystemTimerScheduledTaskManager"
There is a timing bug in SystemTimerScheduledTaskManager that can prevent the Unleash client from properly scheduling the fetch-feature-toggle-task. This means that the Unleash client will silently not fetch feature toggles.

The problem is the gap in time between when a background task's Timer is created and the Timer is registered in the timers dictionary.

Specifically: the problem occurs if th

[2020-10-13 20:43] ivarconr commented on #63
Thanks for reporting @einarwh! I feel the whole `Callback` method could benefit a rewrite.

What do you think about changing the [lines 85-91](https://github.com/Unleash/unleash-client-dotnet/blob/master/src/Unleash/Scheduling/SystemTimerScheduledTaskManager.cs#L85-L91) with the following:

[code]

This will not start the timer before we have successfully added it to the timers dictionary.

[2020-10-13 22:01] einarwh commented on #63
That looks like something that would fix the bug, so I would be happy with that change. But the entire process seems needlessly complicated to me, with the caveat that there might be subtle things that I'm unaware of. In particular I don't understand why the Timer needs to be modified on each callback.

[2020-10-13 22:05] ivarconr commented on #63
I totally agree. I will try to think of a simple solution.

I think the main reason to change the intervals is related to the use case of executing the task immediately on initialisation. I think that can be solved simpler.

[2020-10-13 22:12] einarwh commented on #63
Right, but in my understanding dueTime is for the delay before firing the first time, and period is for the interval between firings. Why isn't that enough?

[2020-10-13 22:15] ivarconr commented on #63
Hmz, good point. I will need to read up on the specifications of the Timer object. Sounds like you are on to something.

[2020-10-20 08:22] #63 closed

[2021-02-08 18:28] brcpar opened #66 "Add Type to feature toggle object and expose the feature toggle collection readonly publicly."
**Is your feature request related to a problem? Please describe.**
Feature parity with other client. Similar to how the node client allows you to get all feature flag definitions: https://github.com/Unleash/unleash-client-node#3-use-unleash
Also, the endpoint to grab features from the server "client/features" includes the "Type" field which could be useful if we have access to the entire collectio

[2021-02-08 19:53] ivarconr commented on #66
Ho @brcpar!

Yes, it makes sense to expose the toggle definitions outside of the SDK.

Up for a PR?

[2021-02-09 03:58] brcpar commented on #66
@ivarconr, Added a PR for you to take a look at.  I addressed both exposing the currently loaded feature toggle collection publicly for external consumers and I added the Type property to FeatureToggle class since it was a missing field that comes across the unleash client api.

[2021-02-15 18:59] #66 closed

[2021-03-09 09:21] ivarconr opened #69 "feat: add support for "project" query"
The Unleash API client endpoint support query for specific project, to avoid having the SDK download all feature toggles like this:

[code]

Which will only return feature flags for `projectId=solar`.

This should be implemented by adding a new configuration to the unleash SDK to specify the "projectId" and of specified it should also be added to the feature-toggle query sent to Unleash API.

[2021-03-10 12:14] kevin-bhavsar opened #70 "Not able to get the feature toggle value from .net console application"
I am trying to access unleash feature toggle from my .net-based console application but while checking for IsEnabled it always returns a false value.

[code]
I am using the default strategy for this.
![image](https://user-images.githubusercontent.com/24651235/110627592-2f2f3f80-81c8-11eb-8abd-a8c2d53164f4.png)

Any suggestions?

[2021-03-10 14:28] ivarconr commented on #70
Hi @kevin-bhavsar

Unleash will asynchronously synchronize with the Unleash in the background. In a typical console CLI example your app will terminate before this happens.

You should look in to the [synchronous-startup](https://github.com/Unleash/unleash-client-dotnet#synchronous-startup) example if you require the SDK to block until it has successfully synchronized.

[2021-03-25 19:26] #70 closed

[2021-03-25 19:27] ivarconr opened #71 "feat: FlexibleRollout should support "custom" stickiness."
The [Flexible Rollout strategy](https://docs.getunleash.io/docs/user_guide/activation_strategy#flexiblerollout) supports multiple options for `stickiness`, used to define how we guarantee consistency for a gradual rollout.

Today it support the following options:
- `default` (Unleash chooses the first value present on the context in defined order userId, sessionId, random.)
- `userId`
- `sessionId

[2021-03-25 19:27] ivarconr opened #72 "feat: Custom stickiness for variants"
This is kind of similar to #71, but for variants.

The stickiness will be defined as a field on all the variants in the variants array, this to ensure we are not breaking our protocol. In the example we can see the stickiness is configured to "tenantId".

[code]

How it looks in Unleash Admin UI:
![image](https://user-images.githubusercontent.com/158948/112531447-deaf0900-8da7-11eb-8995-d8dd56b5d3

[2021-03-25 20:13] mnreggi opened #73 "File not being re-created when deleted."
**Describe the bug**
When the .json file or/and the etag file are removed, the SDK is not re-creating the file.

**To Reproduce**
Steps to reproduce the behavior:
1. Connect to Unleash.
2. Create UnleashClient.
3. Request Feature Flags.
4. Files are going to be created (.json and etag).
5. Remove both files.
6. The scheduler that has `FetchFeatureToggleTask.cs` will not re-create the file.
7. This

[2021-03-26 21:16] ivarconr commented on #73
Thanks for reporting!

Agree, it would be desirable to (re)create the file if it does not exist.

[2021-04-08 20:07] dorlandode opened #74 "Make GetVariant(string toggleName, UnleashContext context, Variant defaultValue) public"
**Is your feature request related to a problem? Please describe.**
I can pass in a UnleashContext into the IsEnabled method, but not the GetVariant.  As I looked in the source code, I was able to find that there is a private method that does exactly what I want.

**Describe the solution you'd like**
Ideally, the method below would be public and exposed in the interface:
[code]

**Describe alternat

[2021-04-08 20:17] ivarconr commented on #74
I agree, I see no reasons why it can't be public. I guess most people are using a context-provider.

PR welcomed!

[2021-04-08 23:48] dorlandode commented on #74
How shall I submit the pull request.  I would assume I need to be added as a contributor so I can create a branch?

[2021-04-09 17:21] ivarconr commented on #74
Ahh sorry, I take this process for granted; the normal procedure is to fork the repo and submit an upstream PR from your fork.

[2021-04-10 13:44] dorlandode commented on #74
Ok, thanks

Sent from my iPhone

[2021-06-22 10:33] #69 closed

[2021-06-22 10:33] #71 closed

[2021-06-28 23:27] ianpaul10 opened #79 "Unhandled exception from background task 'fetch-feature-toggles-task'"
**Describe the bug**
I'm using the GitLab feature flag service which utilizes Unleash. The clients of our Windows desktop application seem to sporadically receive a few different error messages.

**To Reproduce**
The following code snippet causes the error to be thrown on some of our client's machines:
[code]

**Expected behavior**
The `unleash.IsEnabled("testToggle")` call to result in a full cal

[2021-06-29 20:53] ivarconr commented on #79
The SDK synchronizes with the Unleash API in the background. From the error it seems like the server is unable to tall to gitlab.com. Can it be a firewall issue?

Also the isEnabled will not trigger a http call to the unleash API, it will only work on local state in memory.

[2021-07-02 09:18] #5 closed

[2021-09-13 11:31] GarethOates commented on #60
@sumantfordev You need to fill out the Issue template, not just the title.

[2021-11-26 08:59] roelofb commented on #79
I suspect the background sync task of Unleash has (in most cases) not completed at the moment you check for the flag.

This should work.
[code]

[2021-12-23 08:06] #72 closed

[2022-01-05 20:17] daveleek opened #83 "feat: Add support for bootstrapping feature toggles"
Improve resilience by implementing the Bootstrap feature of Unleash. Feature writeup:
https://www.getunleash.io/blog/bootstrap-unleash-java-sdk-to-improve-the-resilience

Reference implementation in Java SDK:
https://github.com/Unleash/unleash-client-java/pull/131

Primary goals:
- Add a property to UnleashSettings for configuring an `IToggleBootstrapProvider `to use
- Add an implementation of `IT

[2022-02-03 20:57] ivarconr opened #85 "feat: Add support for new constraint operators"
I have written a summary In this issue: https://github.com/Unleash/unleash/issues/856#issuecomment-1027910183

Client-specifications: https://github.com/Unleash/client-specification/pull/25

Node SDK reference implementation: https://github.com/Unleash/unleash-client-node/pull/289

**PS! we are still working out the UI and validating the actual protocol, but we are at > 93% certainty.**

[2022-03-06 22:47] antonio-cosource opened #87 "Errors sending metrics are very hard to diagnose"
**Describe the bug**
I'm running a web application that receives feature toggles very well but it wasn't sending any metrics in production.
The cause was that the AppName was set to an empty string in the production config but not in the local environment. The API was returning a Bad Request response.
There was no indication as to what the cause was and it was very difficult to diagnose as the pro

[2022-03-11 09:38] nhathongly commented on #74
Any update? :(

[2022-03-13 10:31] thompson-tomo opened #88 "Allow for Unleash to be used with Microsoft.FeatureManagement"
**Summary of pain point**
I can not easily sync my feature flags to my on-premise software without implementing a local api for software to call. I already have a secured solution to sync the feature flags to local servers and don't want local solution to talk directly to unleash.

**The solution I'd like**
unleash client for dotnet includes the following:
- A dotnet configuration provider for fet

[2022-04-06 19:52] #74 closed

[2022-05-09 10:53] olehfitsyk opened #92 "Extend IUnleash interface with additional GetVariants method implementation"
**Is your feature request related to a problem? Please describe.**
I'm building a wrapper around the `IUnleash` interface to be able to use DI and scoped `IUnleashContextProvider`. The idea of it is quite simple. Every time someone uses the `IUnleash` interface and does not pass its own `UnleashContext` in a method, I automatically pass `UnleashContext` from DI. Most of the methods have a version

[2022-05-09 16:50] FredrikOseberg commented on #92
Hey @olehfitsyk . I'll note this as a discussion item in the standup tomorrow. Let me get back to you shortly on this.

[2022-05-09 16:51] FredrikOseberg commented on #92
![](https://github.trello.services/images/mini-trello-icon.png) [Github Issue: Extend IUnleash interface](https://trello.com/c/rTGvMDaf/1139-github-issue-extend-iunleash-interface)

[2022-05-10 07:14] #83 closed

[2022-05-10 08:39] sighphyre commented on #92
@olehfitsyk We've chatted internally about this one, so the method in question is a bit strange, it's not present in any of our other SDKs and we don't have an intentional use case for it as part of the public API (consumers should probably just rely on getVariant, rather than getVariants). From the commit history, it seems this was added to mirror the Java SDK (it turns out this has a very differ

[2022-05-12 08:00] #92 closed

[2022-06-02 08:00] SondreJAttensi opened #97 "Allow configurable retry strategies for fetching feature toggles"
**Is your feature request related to a problem? Please describe.**
I'd like a way to set a retry strategy for fetching feature toggles. Currently if the Unleash server is unreachable, or if there is some wrong configuration, the fetch feature toggle task will throw errors every 30 seconds (by default).

**Describe the solution you'd like**
A way to configure a retry strategy for fetching feature t

[2022-06-07 06:27] sighphyre commented on #97
Hi @SondreJAttensi thanks so much for raising this. I think I need to ask a few questions before I dig into this. From your description it sounds like the core problem is that the .NET SDK is being noisy in the logs? Is that the correct understanding, or are you having to wrap code in try/catch to avoid a crash here? My second question, is that I'm not quite sure how the synchronous startup deals

[2022-06-07 06:44] SondreJAttensi commented on #97
Hi! Yes, the .NET SDK is being noisy in logs, as by default it would try to fetch the feature toggles every 30 seconds. This happens in the background task that the SDK starts, in one of the environments where I hadn't set up the Unleash server yet, so there was no connection to make.

You are correct that synchronous startup wouldn't exactly solve the problem, as that would prevent the service fr

[2022-06-08 06:44] sighphyre commented on #97
Ah! Thanks for the info that makes sense! I don't think this is a thing that's going to make its way onto our priority list for fairly long while to be honest. We do accept pull requests though, so if you really want it and you can think of a way to do it without changing the API then I would be very open to taking a look!

[2022-07-05 06:43] #97 closed

[2022-07-05 06:44] sighphyre commented on #97
Going to close this for now since we're not going to tackle this directly. This can be reopened if needs be!

[2022-07-05 09:43] sighphyre opened #103 "Implement Global Segments"
**Is your feature request related to a problem? Please describe.**
Just a feature that needs to be implemented - Global Segments

**Describe the solution you'd like**

Unleash v4.13 supports enhanced responses for global segments, it would be great if this SDK can make use of this. There's a few parts to the enhanced responses:

**Background**

Segments are effectively a way for Unleash users to d

[2022-07-12 21:07] thompson-tomo commented on #27
Request should still be considered.

[2022-07-12 21:08] thompson-tomo commented on #88
Still believe that this has value

[2022-07-22 13:30] #23 closed

[2022-07-22 13:30] #26 closed

[2022-07-22 13:30] #30 closed

[2022-07-22 13:30] #25 closed

[2022-07-22 13:30] #37 closed

[2022-07-22 13:30] #60 closed

[2022-07-22 13:30] #73 closed

[2022-07-22 13:30] #79 closed

[2022-07-22 13:30] #85 closed

[2022-07-22 13:30] #87 closed

[2022-08-08 13:53] wahmedswl opened #105 "Usage Report"
**Describe the bug**
```Unleash.Client``` is not reporting Usage of the Toggle like JS sdk does. Is there some parameter or config that needs to be enabled for this feature?

![image](https://user-images.githubusercontent.com/15020561/183434113-d867815c-1557-4951-a2ee-cfbd26b9188a.png)

```iApartments_AccessHistoryFilters``` toggle is accessed via  ```Unleash.Client``` and all other via JS sdk.

T

[2022-08-09 08:04] andreas-unleash commented on #105
Hi @wahmedswl , thanks for bringing this to our attention. Which client sdk are you using?

[2022-08-09 08:40] andreas-unleash commented on #105
The .Net client should report metrics by default, though

[2022-08-09 09:19] wahmedswl commented on #105
If these are only reported when ```SendMetricsInterval``` then summary says the following ...
[code]

[2022-08-10 08:17] andreas-unleash commented on #105
This has now been changed [(PR pending](https://github.com/Unleash/unleash-client-dotnet/pull/106)) to default to 60 s as per our documentation.  Thanks for reporting this @wahmedswl !

[2022-08-30 19:02] #27 closed

[2022-08-30 19:02] #88 closed

[2022-08-31 18:20] Iltony opened #107 "Random error when accessing the temporary file "The process cannot access the file""
**Describe the bug**
**We are getting the error. The process cannot access the file '/tmp/unleash.toggles-default-instancetag-v2.2.0.json' because it is being used by another process.**

Sometimes we are getting the error mentioned above in production.

This is part of the StackTrace
` at Microsoft.Win32.SafeHandles.SafeFileHandle.Init(String path, FileMode mode, FileAccess access, FileShare share

[2022-09-01 06:40] #103 closed

[2022-09-05 07:24] sighphyre commented on #107
Hi Iltony, based off the error output that you've given, I'm not so sure this is a bug. It sounds like you've got multiple Unleash instances running on the same machine in different processes with the same instance tag and they're trying to read/write to the same file. Ideally the instance tag should be unique per running process, which should make this issue go away

[2022-09-05 07:25] sighphyre commented on #105
Sounds like this is done. I'm going to close this, @wahmedswl feel free to reopen if your problem is not solved

[2022-09-05 07:25] #105 closed

[2022-09-15 22:19] daveleek opened #108 "feat: Event system"
**Is your feature request related to a problem? Please describe.**
The task to implement [Impression Event Data](https://docs.getunleash.io/advanced/impression-data#impression-event-data)

**Describe the solution you'd like**
To add support for the Impression Event Data feature to the Unleash .NET SDK

**Describe alternatives you've considered**

**Additional context**
I'll start the discussion be

[2022-09-15 22:20] daveleek commented on #108
# Event system client facing API

Proposals for the way client code interacts with the event system.
There's quite a few ways to go about this in .NET, I'll propose the ones I've seen used the most.
Obviously feel free to pick on namings, mix and match implementations, suggest other approaches etc.

Other things of interest to discuss might be async invocation vs synchronous invocation of message

[2022-09-16 07:51] sighphyre commented on #108
Cool! This looks promising!

To add some more questions into the mix, another thing we need to consider fairly carefully is backwards compatibility, our docs say we support backwards to .Net 4.5, so whatever we do here, it should work on that (if we need to drop support for 4.5 we can do that but I think we'd need a fairly strong reason to do so.)

On the above note, I really like the 3rd option,

[2022-09-16 08:14] chriswk commented on #108
Agreed with Simon. This looks promising.

I'm inclined to agree that it seems more logical to bind the event handling/configuring to the unleash object; but I realise I've been away from .NET for a long time so maybe it's more natural to bind it using the settings object. Just as long as we document properly how to do it.

In the js library we make sure the Unleash instance being returned is an Ev

[2022-09-16 08:38] daveleek commented on #108
@sighphyre @chriswk  Awesome, that was quick :)

### Backwards compatibility
Language feature wise, this should be fairly vanilla and I'd be surprised if it fails to compile in .NET 4.5. But I will have a look at that to make sure. It's more of a coding pattern change I've seen a lot recently especially in .NET Core and later when configuring services and DI and hosting etc.

### Crashing/..
First

[2022-09-23 09:19] sighphyre commented on #108
Sounds great! Be really great to have something like this in the .NET client!

Yeah, I want to say the suggestion should work in older .NET versions, it's definitely worth checking though, since I don't see any obvious backwards compat tests in this client (something for later probably)

I do think the events look nicer bound to the Unleash instance rather than the settings but I don't have very s

[2022-10-03 07:45] chriswk commented on #108
Again, just reinforcing what Simon said, as long as what you decide is properly documented I trust you to make the best choice :+1:

[2022-10-11 21:17] daveleek commented on #108
Thanks @chriswk @sighphyre! I'll have a look and see what i think fits the internal workings the best, and run with that!

[2022-10-13 14:11] miltonhowe opened #109 "How to suppress logging / set log level"
I would like to disable this line in DefaultUnleash:

`Logger.Info($"UNLEASH: Unleash is initialized and configured with: {settings}");`

There is nothing in the docs explaining how to control the logging.

[2022-10-19 21:43] daveleek opened #111 "Feat: Improve visibility of Unleash lifetime configuration"
**Is your feature request related to a problem? Please describe.**
We get occasional reports of cache file locks that we often suspect are caused by having too many instances of Unleash running concurrently in one process/app.
We should improve the visibility of how Unleash lifetime is configured runtime for debugging purposes (make it easier for developers to figure out if this is the cause) and

[2022-10-25 19:42] #111 closed

[2022-11-01 12:55] thomasheartman commented on #109
Hey, @miltonhowe 👋🏼  sorry for the slow response; this one must've slipped 🙇🏼

Anyway, that's a great question and you're right: I can't find anything in the docs about this either. However, checking out the samples folder, I see that the WebAppCore project contains an [`appsettings.json` file](https://github.com/Unleash/unleash-client-dotnet/blob/main/samples/WebAppCore/appsettings.json) with log

[2022-11-08 09:46] christianfosli opened #114 "feat: Add support for specifying HttpClientHandler"
**Is your feature request related to a problem? Please describe.**
Our unleash instance which API's access is hosted internally (i.e. unleash.myclient.local address).
We use https, but with an internal CA cert that is not signed by a well known root authority.

When running an API as a docker container locally we get TLS verification errors when unleash client tries to fetch the features.

**Descr

[2022-11-08 10:08] daveleek commented on #114
You could inherit the `Unleash.DefaultHttpClientFactory` instead of the `Unleash.IHttpClientFactory`. There's a couple of extension points in that which could serve your purpose if you override the [ConfigureHttpClient()](https://github.com/Unleash/unleash-client-dotnet/blob/main/src/Unleash/DefaultHttpClientFactory.cs#L54) method

[2022-11-08 10:11] christianfosli commented on #114
Thanks for the suggestion :smile:
I looked at that, but as far as I can tell the HttpClientHandler must be supplied to HttpClient's constructor and can't be added/edited after instantiation.

[2022-11-08 10:18] daveleek commented on #114
Argh I spoke too soon. you are indeed correct, it's all coming back to me now 😬

[2022-11-09 11:47] ChristianTellefsen commented on #109
Hi! We're using Serilog in our Unity project, and are wondering if there is some way to make Unleash log using our Serilog loggers. The unleash logs are not visible to us since they are not using Unity's logging calls.

We couldn't find anything in the docs about this, but perhaps there is a way?

[2022-11-10 13:55] thomasheartman commented on #109
Hey, @ChristianTellefsen 👋🏼 I don't actually know. How do you configure logging in Unity projects?

@daveleek Do you have any input on how to configure what to log or where to log to?

[2022-11-10 14:23] daveleek commented on #109
Hey @ChristianTellefsen, @thomasheartman! that's actually a great question. I've not been directly involved with the log-implementation, but I've come across it in my source code travels.

The implementation is here: https://github.com/Unleash/unleash-client-dotnet/blob/0943a2d5ebf6a2d8ffe7a8c4445aa895988844fa/src/Unleash/LibLog.cs#L490

It's implemented as an import of LibLog, with what I think i

[2022-11-11 09:49] alexeyzimarev commented on #109
LibLogs connects to the currently configured logging provider like ASP.NET Core logging, Serilog, etc. It doesn't really have the logging level inside, but it passes log events to the actual logging provider.

[2022-11-11 09:59] alexeyzimarev opened #115 "Review target frameworks"
I see that the library targets some legacy .NET Framework versions that aren't supported anymore.

It also limits support for .NET 6+ applications by targeting .NET Standard 2.0, which has a lot of missing features of newer .NET versions like async disposable and passing the cancellation token when reading the HTTP client response stream.

My suggestion is to:
- Drop all the .NET Framework targets

[2022-11-11 10:01] alexeyzimarev opened #116 "Update the C# language version"
As people get used to C# 10 and 11 new features, maybe it's a good idea to revamp the SDK code.

I can submit a PR to change the language version to C# 11, update the CI pipeline to build using .NET 7, and make the code shorter without changing any functionality. But, it will be a large PR as it will touch every single code file.

[2022-11-13 20:39] ivarconr commented on #116
Hi @alexeyzimarev, thanks for reaching out, and a willingness to contribute.

We have to be somewhat conservative on which language features we take advantage of, this goes for SDKs across all languages. The main reason is that a lot of users will have a somewhat hard time upgrading, for multiple reasons.  By rewriting the SDK to take advantage of new features we might force users to stay on older

[2022-11-13 21:02] alexeyzimarev commented on #116
Using the latest SDK doesn't impact compilation for legacy SDKs, either .NET 5+ or legacy .NET Framework targets.

I maintain RestSharp, and it's built using .NET 7 SDK targeting .NET 4.7.1, .NET Standard 2.0, .NET 6 and 7.

[2022-11-18 11:32] pransh15 commented on #115
Hey @alexeyzimarev 👋

Thanks for the suggestion for this. I believe there might be projects with .NET legacy frameworks still using this SDK, maybe @sighphyre can understand this better since I have no experience with .NET or .NET standards.

In any case, it's a really good suggestion to support newer, secure and long-term standards, and maybe we can branch out .NET Standard 2.0 from .NET legacy t

[2022-11-18 16:52] alexeyzimarev commented on #115
There might be indeed projects using unsupported .NET versions, but those versions aren't getting security fixes.

I believe it's a good practice to drop the support for unsupported platforms as it might push people to upgrade finally. It's unsafe to execute applications in production that use an unsupported .NET Framework version.

Also, the NuGet package is not going anywhere. People can use the

[2022-11-19 17:52] miltonhowe commented on #109
Thank you for your response. My turn to apologise for the delay in responding. Now that this thread has some traction I will explain my scenario.

I have a .Net Framework 4.8 MVC 5 web app using NLog and using Unleash to read feature flags from the Gitlab repo.

The server is configured to recycle the application pools for reasons and by people over which I have effectively no control. And every t

[2022-11-19 21:48] miltonhowe commented on #109
Well thanks to everyone for inspiring me to figure out how to do this, and I was correct in my hunch that I could configure the log level by namespace.
This is what I had to put in my NLog.Config:
[code]

It was a bit tricky to figure out as I kept trying with `minlevel`. The trick is to use `maxlevel` with no `writeTo` - you are telling it to swallow anything up to Info level.

Hopefully I will r

[2022-11-21 07:27] sighphyre commented on #115
Hey @alexeyzimarev yeah I agree with your thoughts here, I see we're still supporting targets which hit EOL over 5 years ago, it's probably time to move towards dropping those. But I think this will require a major version bump, because @pransh15 is right here, there might be folks still using those and it feels rude to make changes that cause a project to not compile outside of a major version. W

[2022-11-21 15:45] daveleek commented on #115
Wasn't aware the newer .NET frameworks could target older windows framework versions, just assumed a windows framework would be required. That's on me :)

Adding new framework versions seems like a good idea, .NET 6, 7, and isn't there a newer .NET Standard? 2.1? Maybe add that too if possible? From the discussions I've had with @ivarconr on the matter, exactly which .NET versions are in active us

[2022-11-21 20:27] alexeyzimarev commented on #115
.NET Standard 2.1 is as good as dead as it was released together with .NET Core 3.1 to support some new SDK signatures. .NET Standard 2.0 is LTS, and 2.1 is not.

Newer SDK has some improvements that can be relevant and can be fenced with pragma directives. For example, `response.Content.ReadAsStringAsync()` accepts the cancellation token.

I meant that dropping support for discontinued runtimes i

[2022-11-23 11:41] thomasheartman commented on #109
Very glad to hear that you found a solution to it 🙌🏼  And admittedly, it's not very obvious, so good work!

Regarding the docs: Yeah, I think it'd be great to add! Would you be willing to add a section to the readme and open a PR? Feel free to add me as a reviewer and I'll have a look at it ☺️

[2022-11-23 11:42] thomasheartman commented on #109
Also, because you found a solution, I'll close this thread for now.

[2022-11-23 11:42] #109 closed